{% extends "base.html" %} {% block title %}SafeKeep | Password Secure Page{%
endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div
      class="
        col-lg-8
        offset-lg-2
        d-flex
        justify-content-center
        align-items-center
      "
    >
      <div class="form">
        <form method="POST" class="col-lg-6 offset-lg-3">
          <p><strong>Current Password</strong></p>
          <p>
            <input type="text" name="currentPassword" class="form-control-lg" />
          </p>
          <p>
            <input type="submit" value="Check" class="form-control-lg btn" />
          </p>
          <h3 class="mb-4 change-color">{{ message }}</h3>
          <div class="btn">
            <a href="/passwords">Back to Home</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
