{% extends "base.html" %} {% block title %}SafeKeep{% endblock %} {% block
content%}
<div class="container">
  <div class="col-lg-10">
    <div class="row">
      <div class="justify-content-center">
        <a href="/login" class="btn">Login</a>
        <h2>About SafeKeep</h2>
        <p>
          Just face it, you shouldn't use the same basic password for everything
          on the internet! If you are going to use the same password over and
          over, at least make it secure. Most people use only basic letters and
          numbers in their passoword, which are easy for hackers to guess with
          what is known as a "brute force" attack.
        </p>
        <p>
          Click on the "passwords" tab of this website to change your current
          password to something that is as memorable as your old password, and
          looks just like it, but is way more secure! Of course, you can still
          get even more secure than this by using different passwords and by
          encrypting them, but this is a great start!
        </p>
        <p>
          Disclaimer: SafeKeep cannot fully protect you from being hacked.
          Please note that passwords are only as secure as you make them and
          that there are far more advanced methods of securing passwords than
          this. This website is just to show how you can get a little more
          secure and still remember your password.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock%}
